{% extends '@exammple_default/base.twig' %}
{% block body %}
    <div class="row">
        <div class="span12">
            <h1>{{ top_header_text }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <p>{{ body_text }}</p>
        </div>
    </div>
{% endblock %}
