.idea/workspace.xml
*.log
/cache/**
!/cache/README
composer.lock
/src/config/autoload_classmap.php
/src/config/autoload_namespaces.php
/src/config/app_config*.php
/src/config/db_config*.php
/src/config/install_config*.php
/src/config/install_db*.php
/src/twig_cache/*
/src/apps/Ritc/*
/src/apps/Wer*
/src/apps/Terramark*
/public/assets/.sass-cache
/public/assets/css/*.css
/public/assets/css/*.map
/public/assets/images/touch/*.ico
/public/assets/images/touch/*.json
/public/assets/images/touch/*.png
/public/assets/images/touch/*.svg
/public/assets/images/touch/*.xml
/public/assets/js/min/*.js
/public/assets/build
/public/assets/vendor
/public/doxy
/public/index.php
/public/setup.php
/vendor
wereveal.iml
