{% extends '@' ~ page_prefix ~ 'themes/' ~ theme_name ~ '.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ css_dir }}/styles_manager.css">
{% endblock %}
{% block vendorJs %}
{{ parent() }}
    <script src="{{ public_vendor }}/jquery-validation/dist/jquery.validate.js"></script>
{% endblock %}
{% block header %}{% endblock %}
{% block search %}{% endblock %}
{% block bodyTitle %}{% endblock %}
{% block message %}{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="smaller"><span class="fal fa-feather fa-2x pr-3"></span>  Welcome! Please Login</h1>
    </div>
    {% if a_message.message != '' %}
        <div class="container">
            {{ include(lib_snippets ~ 'message.twig') }}
        </div>
    {% endif %}
    <div class="container">
        {{ include(lib_forms ~ 'login_form.twig') }}
    </div>
{% endblock %}
