{% extends '@' ~ page_prefix ~ 'themes/' ~ theme_name ~ '.twig' %}
{% block stylesheets %}
        <link rel="stylesheet" href="{{ css_dir }}/styles.css" media="screen">
{% endblock %}
{% block body %}
            <div class="container">
                <ul class="clean-ul">
                {% for nav in a_menus %}
                    <li><a href="{{ nav.url }}">{{ nav.description }}</a></li>
                {% endfor %}
                </ul>
            </div>
{% endblock %}
{#
expected array [
    'lang',
    'charset',
    'title',
    'description',
    'base_url',
    'page_url',
    'public_dir',
    'page_prefix',
    'a_menus',
    'a_message',
    'body_text',
    'debug_text',
    'copyright_date',
    'site_url',
    'rights_holder',
    ]
#}
