{% extends '@' ~ page_prefix ~ 'themes/' ~ twig_theme ~ '.twig' %}
{% block body %}
    <div class="container">
{% if  a_tests %}
        <ul class="clean-ul">
        {% for test in a_tests %}
            <li><a href="{{ test.url }}">{{ test.name }}</a></li>
        {% endfor %}
        </ul>
{% endif %}
{% if a_results %}
    {% for results in a_results %}

    {% endfor %}
{% endif %}
    </div>
{% endblock %}
