#people-form {
  fieldset {
    border: 1px $color-black dotted;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 12px;
  }
  input {
    width: 200px;
    &#description {
      width: 600px;
    }
  }
}

