<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}FTP Users{% endblock %}</title>
	<link rel="stylesheet" href="/assets/css/main.css'" type="text/css" media="all" />
	<link rel="shortcut icon" href="/assets/images/icons/favicon.ico" />
</head>
<body>
{% block body %}<p>Hello!</p>{% endblock %}
</body>
</html>
