/* Error: Can't find stylesheet to import.
 *   ,
 * 2 | @forward "../src/apps/Ritc/Library/resources/assets/scss/defaults/media_queries" as dmq-*;
 *   | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   _media_queries.scss 2:1   @use
 *   styles_manager.scss 17:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 2 \2502  @forward \"../src/apps/Ritc/Library/resources/assets/scss/defaults/media_queries\" as dmq-*;\a   \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   _media_queries.scss 2:1   @use\a   styles_manager.scss 17:1  root stylesheet";
}
