{% extends '@' ~ twig_prefix ~ 'default/base.twig' %}
{% block body %}
            {% if a_message.message %}
            <div class="row">
                <div class="col-md-12">
                    {% include '@' ~ twig_prefix ~ 'snippets/message.twig' %}
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <ul class="clean-ul">
                    {% for nav in a_menus %}
                        <li><a href="{{ nav.url }}">{{ nav.description }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            {% if debug_text %}
            <div class="container">
                <code class="pre">
                {{ debug_text }}
                </code>
            </div>
            {% endif %}
{% endblock %}
{#
expected array [
    'lang',
    'charset',
    'title',
    'description',
    'base_url',
    'page_url',
    'public_dir',
    'twig_prefix',
    'a_menus',
    'a_message',
    'body_text',
    'debug_text',
    'copyright_date',
    'site_url',
    'rights_holder',
    ]
#}
