/* Error: Undefined variable.
 *    ,
 * 74 | @mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
 *    |                                                   ^^^^^^^^^^^^^^^^^
 *    '
 *   public/assets/node_modules/bootstrap/scss/mixins/_breakpoints.scss 74:51  media-breakpoint-down()
 *   src/apps/Ritc/Library/resources/assets/scss/_mods_to_bootstrap.scss 15:5  @use
 *   src/apps/Ritc/Library/resources/assets/scss/_styles_top.scss 8:1          @use
 *   src/scss/styles.scss 3:1                                                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 74 \2502  @mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {\a    \2502                                                    ^^^^^^^^^^^^^^^^^\a    \2575 \a   public/assets/node_modules/bootstrap/scss/mixins/_breakpoints.scss 74:51  media-breakpoint-down()\a   src/apps/Ritc/Library/resources/assets/scss/_mods_to_bootstrap.scss 15:5  @use\a   src/apps/Ritc/Library/resources/assets/scss/_styles_top.scss 8:1          @use\a   src/scss/styles.scss 3:1                                                  root stylesheet";
}
