.user-form-list {
    @include paddingSize(.25, 'all', '');
    label {
        font-weight: 900;
        text-align: right;
        display: inline-block;
        @include paddingSize(.25, 'right', '');
        @include wideRem(3);
    }
    div {
        .col-reset {
            @include marginSize(0, 'all', 'important');
            @include paddingSize(.25, 'lr', 'important');
            @include borderSize(0, 'all', 'solid', 'important');
        }
    }
}