/* Matches Bootstrap Alert Colors */
.aright {
  text-align: right; }

.aleft {
  text-align: left; }

.fleft {
  float: left; }

.fright {
  float: right; }

.bold {
  font-weight: 900; }

.btn-xs {
  padding: .15rem .75rem;
  font-size: .85rem;
  line-height: 1.1rem;
  border-radius: .2rem; }

.header-small-caps {
  font-weight: 900;
  font-style: normal;
  font-variant: small-caps; }

.header-sans {
  font-family: VeraSansBold, sans-serif; }

.container {
  background-color: #f5f5f5;
  margin-bottom: 2rem;
  margin-top: 1rem; }
  .container.container-main {
    border: 1px solid #333;
    border-radius: .25rem;
    box-shadow: 0.15rem 0.15rem 0.15rem rgba(128, 128, 128, 0.65); }
  .container.container-bordered {
    border: 1px solid #333;
    padding-top: .5rem;
    padding-bottom: .5rem; }
  .container .row {
    background-color: #f5f5f5;
    margin: 0;
    padding-left: 1rem;
    padding-right: 2rem; }
    .container .row [class*="col"] {
      background-color: #f5f5f5;
      border: 0;
      border-radius: 0;
      padding: 0 .25rem;
      margin-top: .25rem;
      margin-bottom: .25rem; }
    .container .row.boxed [class*="col"] {
      background-color: #f5f5f5;
      border: 1px solid #333;
      border-radius: 10px;
      margin-bottom: 1rem;
      padding: 1rem 2rem; }
    .container .row.normal-row {
      background-color: #fff; }
      .container .row.normal-row [class*="col"] {
        border: 0;
        padding: 0 .25rem;
        border-radius: 0;
        margin-top: .25rem;
        margin-bottom: .25rem;
        background-color: #fff; }
        .container .row.normal-row [class*="col"].form-label {
          text-align: right;
          padding-right: 1rem;
          font-weight: 700; }
    .container .row.alt-row {
      background-color: #e6e6e6; }
      .container .row.alt-row [class*="col"] {
        border: 0;
        padding: 0 .25rem;
        margin-top: .25rem;
        margin-bottom: .25rem;
        border-radius: 0;
        background-color: #e6e6e6; }
        .container .row.alt-row [class*="col"].form-label {
          text-align: right;
          padding-right: 1rem;
          font-weight: 700; }
    .container .row.upper {
      border-radius: 0 2rem 0 0;
      padding-top: 1rem; }
    .container .row.lower {
      border-radius: 0 0 2rem 0; }
    .container .row.row-inside {
      padding-left: 0;
      padding-right: 0; }

.red {
  color: #a00; }

.green {
  color: #006400; }

.blue {
  color: #006; }

.dark-grey {
  color: #2c3539; }

.border-radius-top-right {
  border-top-right-radius: 0.25rem; }

.border-radius-bottom-right {
  border-bottom-right-radius: 0.25rem; }

.border-radius-top-left {
  border-top-left-radius: 0.25rem; }

.border-radius-bottom-left {
  border-bottom-left-radius: 0.25rem; }

.border-radius-left {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem; }

.border-radius-right {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem; }

.border-radius-top {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem; }

.border-radius-bottom {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem; }

.clean-ul {
  list-style-type: none; }

.margin-top-1 {
  margin-top: 1rem; }

.margin-top-2 {
  margin-top: 2rem; }

.margin-top-half {
  margin-top: 0.5rem; }

.margin-top-quarter {
  margin-top: 0.25rem; }

.margin-bottom-1 {
  margin-bottom: 1rem; }

.margin-bottom-2 {
  margin-bottom: 2rem; }

.margin-bottom-half {
  margin-bottom: 0.5rem; }

.margin-bottom-quarter {
  margin-bottom: 0.25rem; }

.margin-left-1 {
  margin-left: 1rem; }

.margin-left-2 {
  margin-left: 2rem; }

.margin-left-half {
  margin-left: 0.5rem; }

.margin-left-quarter {
  margin-left: 0.25rem; }

.margin-right-1 {
  margin-right: 1rem; }

.margin-right-2 {
  margin-right: 2rem; }

.margin-right-half {
  margin-right: 0.5rem; }

.margin-right-quarter {
  margin-right: 0.25rem; }

.margin-lr-1 {
  margin-left: 1rem;
  margin-right: 1rem; }

.margin-lr-2 {
  margin-left: 2rem;
  margin-right: 2rem; }

.margin-lr-half {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.margin-lr-quarter {
  margin-left: 0.25rem;
  margin-right: 0.25rem; }

.margin-tb-1 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.margin-tb-2 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.margin-tb-half {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.margin-tb-quarter {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.margin-all-1 {
  margin: 1rem; }

.margin-all-2 {
  margin: 1rem; }

.margin-all-half {
  margin: 0.5rem; }

.margin-all-quarter {
  margin: 0.25rem; }

.pad-right {
  padding-right: 1rem; }

.pad-bottom {
  padding-bottom: 1rem; }

.pad-left {
  padding-left: 1rem; }

.pad-top {
  padding-top: 1rem; }

.pad-right-12 {
  padding-right: 12px; }

.pad-top-12 {
  padding-top: 12px; }

.pad-left-12 {
  padding-left: 12px; }

.pad-top-12 {
  padding-top: 12px; }

.list-header {
  background-color: #595959 !important;
  color: #fff; }
  .list-header div {
    background-color: #595959 !important;
    color: #fff; }

.list-stripped {
  color: #2c3539; }
  .list-stripped.odd {
    background-color: #94b2bf; }
  .list-stripped.even {
    background-color: #fff; }
  .list-stripped a {
    color: #2c3539;
    display: inline-block;
    width: 100%;
    padding: .25rem;
    padding-left: .5rem; }
    .list-stripped a.odd {
      background-color: #e6e6e6; }
    .list-stripped a.even {
      background-color: #fff; }

.container .row-fluid [class*="span"] {
  background-color: #f5f5f5;
  border: 1px solid #333;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem 2rem; }

.container .row-fluid .no-box {
  background-color: inherit;
  border: 0;
  padding: 0;
  margin: 0 0 1rem 0; }
  .container .row-fluid .no-box div.no-box {
    margin-right: 1rem; }

.container .row-fluid div.item-card a.item-link {
  font-size: 1.2rem;
  font-weight: 900; }

hr.item-card {
  margin: .5rem 0;
  width: 50%; }

/* The Alpha List Menu */
.container div.selections {
  border: 0 !important;
  padding: 0 !important; }
  .container div.selections label.selectLabel, .container div.selections label.selectLabel {
    font-weight: 900;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    margin-right: .75rem; }
  .container div.selections select {
    height: 2rem;
    line-height: 2rem;
    width: 200px;
    vertical-align: top; }

.container div.quick-form {
  border: 0 !important;
  padding: 0 !important;
  padding-left: 1rem !important; }
  .container div.quick-form #quick-search {
    margin: 0; }
    .container div.quick-form #quick-search legend {
      font-size: 1rem;
      font-weight: bold;
      border: 0;
      line-height: 1.5rem; }
    .container div.quick-form #quick-search input {
      width: 15rem;
      margin-top: .5rem;
      margin-right: 1rem;
      vertical-align: middle; }
    .container div.quick-form #quick-search button {
      vertical-align: middle; }
    .container div.quick-form #quick-search .help {
      display: none; }

.container div.alpha {
  margin-left: 0px !important;
  margin-bottom: 0px !important;
  border: 0px !important;
  padding: 0px !important; }
  .container div.alpha #alphaListMenu {
    list-style-type: none;
    margin-left: 0px;
    margin-bottom: 1rem; }
    .container div.alpha #alphaListMenu li {
      float: left;
      padding-left: 3px;
      padding-right: 3px;
      font-weight: 900; }
      .container div.alpha #alphaListMenu li.firstLetter {
        border-left: 1px solid #808080;
        border-right: 1px solid #808080; }
      .container div.alpha #alphaListMenu li.otherLetter {
        border-right: 1px solid #808080; }
      .container div.alpha #alphaListMenu li.lastLetter {
        border-right: 1px solid #808080; }
      .container div.alpha #alphaListMenu li.noLink {
        color: #808080;
        font-weight: 400;
        border-right: 1px solid #808080; }

.container div.prevnext {
  border: 0 !important;
  padding: 0 !important; }
  .container div.prevnext ul {
    list-style-type: none; }
    .container div.prevnext ul li {
      float: left;
      padding-left: 3px;
      padding-right: 3px;
      font-weight: 900; }

/* Idea is to have media queries break where it looks good, not on device size = based on Bootstrap 4 */
