$black:     #000;
$blue:      #006;
$brown:     #68472e;
$gray:      #808080; // also gray50 - gray-medium
$green:     #006400;
$magenta:   #f0f;
$off-white: #f5f5f5;
$orange:    #ffa500;
$pink:      #ff69b4;
$purple:    #800080;
$red:       #a00;
$teal:      #008080;
$violet:    #9400d3;
$white:     #fff;
$yellow:    #ff0;

$blue-dark:       $blue;
$blue-medium:     #1c7ead;
$blue-light:      #0ff;
$blue-xlight:     lighten($blue-dark, 90%);
$blue-complement: #9fc8e6;

// the number after gray is brightness, lower the darker
$gray20: #333;
$gray25: #404040;
$gray35: #595959;
$gray40: #666;
$gray50: #808080;
$gray60: #999;
$gray65: #a6a6a6;
$gray75: #bfbfbf;
$gray80: #ccc;
$gray90: #e6e6e6;
$gray95: #f2f2f2;

$gray-dark:        $gray20;
$gray-medium-dark: $gray35;
$gray-medium:      $gray50;
$gray-med-light:   $gray65;
$gray-light:       $gray80;
$gray-xlight:      $gray90;
$gray-barely:      $gray95;
$gray-complement:  #276998;

$slate-dark:   #2f4f4f;
$slate-medium: #708090;
$slate-light:  #94a9be;
$slate-xlight: #c4d2e0;
$slate:        $slate-medium;

$brown-dark:       $brown;
$brown-medium:     #8b4513;
$brown-light:      #cc9166;
$brown-xlight:     #e6c883;
$brown-complement: #13598b;

$gunmetal-dark:       #2c3539;
$gunmetal-medium:     #576870;
$gunmetal-light:      #829ca8;
$gunmetal-xlight:     #94b2bf;
$gunmetal-complement: #382f2b;

$green-dark:        $green;
$green-medium-dark: lighten($green-dark, 15%);
$green-medium:      lighten($green-dark, 33%);
$green-light:       lighten($green-dark, 66%);
$green-xlight:      #e9ffe9;
$green-complement:  #640032;

/* Matches Bootstrap Alert Colors Mostly */
$success-bg:     #dff0d8;
$success-text:   darken($success-bg, 70%);
$success-border: darken($success-bg, 10%);
$info-bg:        #d9edf7;
$info-text:      darken($info-bg, 70%);
$info-border:    darken($info-bg, 10%);
$warning-bg:     #fcf8e3;
$warning-text:   change_color(darken($warning-bg, 65%), $green: 45);
$warning-border: darken($warning-bg, 10%);
$danger-bg:      #f2dede;
$danger-text:    darken($danger-bg, 65%);
$danger-border:  darken($danger-bg, 10%);

$color-black:      $black;
$color-blue:       $blue;
$color-gray:       $gray;
$color-gray-trans: transparentize($gray90, .35);
$color-green:      $green;
$color-magenta:    $magenta;
$color-off-white:  $off-white;
$color-orange:     $orange;
$color-pink:       $pink;
$color-purple:     $purple;
$color-red:        $red;
$color-slate:      $slate;
$color-teal:       $teal;
$color-violet:     $violet;
$color-white:      $white;
$color-yellow:     $yellow;

$color-default:    $gray;
$color-dark:       $gray-dark;
$color-medium:     $gray-medium;
$color-light:      $gray-light;
$color-xlight:     $gray-xlight;
$color-complement: $gray-complement;
$color-body:       $color-white;
$color-container:  $color-off-white;
$color-border:     $gray-dark;
$color-shadow:     transparentize($color-default, .35);
$color-shadow-alt: transparentize($color-complement, .35);
$color-span:       $color-off-white;
