$black-color:     #000;
$blue-color:      #006;
$brown-color:     #68472e;
$gray-color:      #808080; // also gray50 - gray-medium
$green-color:     #006400;
$magenta-color:   #f0f;
$off-white-color: #f5f5f5;
$orange-color:    #ffa500;
$pink-color:      #ff69b4;
$purple-color:    #800080;
$red-color:       #a00;
$teal-color:      #008080;
$violet-color:    #9400d3;
$white-color:     #fff;
$yellow-color:    #ff0;

$blue-pure:        #00f;
$blue-dark:        #006;
$blue-medium-dark: #00c;
$blue-medium:      #3f3fff;
$blue-light:       #7fffff;
$blue-xlight:      #e5ffff;
$blue-complement:  #9fc8e6;

// the number after gray is brightness, lower the darker
$gray20: #333;
$gray25: #404040;
$gray35: #595959;
$gray40: #666;
$gray50: #808080;
$gray60: #999;
$gray65: #A6A6A6;
$gray75: #bfbfbf;
$gray80: #ccc;
$gray90: #e6e6e6;
$gray95: #f2f2f2;

$gray-dark:        $gray20;
$gray-medium-dark: $gray35;
$gray-medium:      $gray50;
$gray-med-light:   $gray65;
$gray-light:       $gray80;
$gray-xlight:      $gray90;
$gray-barely:      $gray95;
$gray-complement:  #276998;

$slate-dark:   #2f4f4f;
$slate-medium: #708090;
$slate-light:  #94a9be;
$slate-xlight: #c4d2e0;
$slate-color:  $slate-medium;

$brown-dark:       $brown-color;
$brown-medium:     #8b4513;
$brown-light:      #cc9166;
$brown-xlight:     #e6c883;
$brown-complement: #13598b;

$gunmetal-dark:       #2c3539;
$gunmetal-medium:     #576870;
$gunmetal-light:      #829ca8;
$gunmetal-xlight:     #94b2bf;
$gunmetal-complement: #382f2b;

$green-dark:        $green-color;
$green-medium-dark: lighten($green-dark, 15%);
$green-medium:      lighten($green-dark, 33%);
$green-light:       lighten($green-dark, 66%);
$green-xlight:      #e9ffe9;
$green-complement:  #640032;

/* Matches Bootstrap Alert Colors */
$twbs-success-text:   #3c763d !default;
$twbs-success-bg:     #dff0d8 !default;
$twbs-success-border: darken($twbs-success-bg, 5%) !default;
$twbs-info-text:      #31708f !default;
$twbs-info-bg:        #d9edf7 !default;
$twbs-info-border:    darken($twbs-info-bg, 7%) !default;
$twbs-warning-text:   #8a6d3b !default;
$twbs-warning-bg:     #fcf8e3 !default;
$twbs-warning-border: darken($twbs-warning-bg, 5%) !default;
$twbs-danger-text:    #a94442 !default;
$twbs-danger-bg:      #f2dede !default;
$twbs-danger-border:  darken($twbs-danger-bg, 5%) !default;

$color-black:      $black-color;
$color-blue:       $blue-color;
$color-gray:       $gray-color;
$color-gray-trans: transparentize($gray90, .35);
$color-green:      $green-color;
$color-magenta:    $magenta-color;
$color-off-white:  $off-white-color;
$color-orange:     $orange-color;
$color-pink:       $pink-color;
$color-purple:     $purple-color;
$color-red:        $red-color;
$color-slate:      $slate-color;
$color-teal:       $teal-color;
$color-violet:     $violet-color;
$color-white:      $white-color;
$color-yellow:     $yellow-color;

$color-default:    $gray-color;
$color-dark:       $gray-dark;
$color-medium:     $gray-medium;
$color-light:      $gray-light;
$color-xlight:     $gray-xlight;
$color-complement: $gray-complement;
$color-body:       $color_white;
$color-container:  $color_off-white;
$color-border:     $gray-dark;
$color-shadow:     transparentize($color-default, .35);
$color-shadow-alt: transparentize($color-complement, .35);
$color-span:       $color-off-white;
