input {
    &.colorful {
        background: $color-white !important;
        border-bottom: 1px solid $color-black !important;
        border-left: 1px solid $gray60  !important;
        border-right: 1px solid $color-black !important;
        border-top: 1px solid $gray60 !important;
        padding-left: .5rem !important;
    }
    &.colorful:focus {
        background: $green-xlight !important;
        border-bottom: 1px solid $green-medium-dark !important;
        border-left: 1px solid $green-dark !important;
        border-right: 1px solid $green-medium-dark !important;
        border-top: 1px solid $green-dark !important;
        padding-left: .5rem !important;
    }
}

label {
    &.error {
        color: $color-red;
        @include font_bold_italic;
    }
}

.hobbit {
    display: none;
}
