.aright {
    text-align: right;
}

.aleft {
    text-align: left;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.bold {
    font-weight: 900;
}

.btn-xs {
    padding: .15rem .75rem;
    font-size: .85rem;
    line-height: 1.1rem;
    border-radius: .2rem;
}

.header-small-caps {
    @include font_sc_extra_bold;
}

.header-sans {
    font-family: VeraSansBold, sans-serif;
}

.container {
    background-color: $color-container;
    margin-bottom: 2rem;
    margin-top: 1rem;
    &.container-main {
        border: 1px solid $color-border;
        border-radius: .25rem;
        box-shadow: 0.15rem 0.15rem 0.15rem $color-shadow;
    }
    &.container-bordered {
        border: 1px solid $color-border;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    .row {
        background-color: $color-span;
        margin: 0;
        padding-left: 1rem;
        padding-right: 2rem;
        [class*="col"] {
            background-color: $color-span;
            border: 0;
            border-radius: 0;
            padding: 0 .25rem;
            margin-top: .25rem;
            margin-bottom: .25rem;
        }
        &.boxed {
            [class*="col"] {
                background-color: $color-span;
                border: 1px solid $color-border;
                border-radius: 10px;
                margin-bottom: 1rem;
                padding: 1rem 2rem;
            }
        }
        &.normal-row {
            background-color: $color-white;
            [class*="col"] {
                border: 0;
                padding: 0 .25rem;
                border-radius: 0;
                margin-top: .25rem;
                margin-bottom: .25rem;
                background-color: $color-white;
                &.form-label {
                    text-align: right;
                    padding-right: 1rem;
                    font-weight: 700;
                }
            }
        }
        &.alt-row {
            background-color: $gray90;
            [class*="col"] {
                border: 0;
                padding: 0 .25rem;
                margin-top: .25rem;
                margin-bottom: .25rem;
                border-radius: 0;
                background-color: $gray90;
                &.form-label {
                    text-align: right;
                    padding-right: 1rem;
                    font-weight: 700;
                }
            }
        }
        &.upper {
            border-radius: 0 2rem 0 0;
            padding-top: 1rem;
        }
        &.lower {
            border-radius: 0 0 2rem 0;
        }
        &.row-inside {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.red {
    color: $red-color;
}

.green {
    color: $green-color;
}

.blue {
    color: $blue-color;
}

.dark-grey {
    color: $gunmetal-dark;
}

.border-radius-top-right {
    border-top-right-radius: $default-radius;
}

.border-radius-bottom-right {
    border-bottom-right-radius: $default-radius;
}

.border-radius-top-left {
    border-top-left-radius: $default-radius;
}

.border-radius-bottom-left {
    border-bottom-left-radius: $default-radius;
}

.border-radius-left {
    border-top-left-radius: $default-radius;
    border-bottom-left-radius: $default-radius;
}

.border-radius-right {
    border-top-right-radius: $default-radius;
    border-bottom-right-radius: $default-radius;
}

.border-radius-top {
    border-top-left-radius: $default-radius;
    border-top-right-radius: $default-radius;
}

.border-radius-bottom {
    border-bottom-left-radius: $default-radius;
    border-bottom-right-radius: $default-radius;
}

.clean-ul {
    @include clean_ul;
}
.margin-top-1 {
    @include marginSize(1, 'top');
}

.margin-top-2 {
    @include marginSize(2, 'top');
}
.margin-top-half {
    @include marginSize(.5, 'top');
}

.margin-top-quarter {
    @include marginSize(.25, 'top');
}

.margin-bottom-1 {
    @include marginSize(1, 'bottom');
}

.margin-bottom-2 {
    @include marginSize(2, 'bottom');
}

.margin-bottom-half {
    @include marginSize(.5, 'bottom');
}

.margin-bottom-quarter {
    @include marginSize(.25, 'bottom');
}

.margin-left-1 {
    @include marginSize(1, 'left');
}

.margin-left-2 {
    @include marginSize(2, 'left');
}

.margin-left-half {
    @include marginSize(.5, 'left');
}

.margin-left-quarter {
    @include marginSize(.25, 'left');
}

.margin-right-1 {
    @include marginSize(1, 'right');
}

.margin-right-2 {
    @include marginSize(2, 'right');
}

.margin-right-half {
    @include marginSize(.5, 'right');
}

.margin-right-quarter {
    @include marginSize(.25, 'right');
}

.margin-lr-1 {
    @include marginSize(1, 'lr');
}

.margin-lr-2 {
    @include marginSize(2, 'lr');
}

.margin-lr-half {
    @include marginSize(.5, 'lr');
}

.margin-lr-quarter {
    @include marginSize(.25, 'lr');
}

.margin-tb-1 {
    @include marginSize(1, 'tb');
}

.margin-tb-2 {
    @include marginSize(2, 'tb');
}

.margin-tb-half {
    @include marginSize(.5, 'tb');
}

.margin-tb-quarter {
    @include marginSize(.25, 'tb');
}

.margin-all-1 {
    @include marginSize(1, 'all');
}

.margin-all-2 {
    @include marginSize(1, 'all');
}

.margin-all-half {
    @include marginSize(.5, 'all');
}

.margin-all-quarter {
    @include marginSize(.25, 'all');
}

.pad-right {
    padding-right: 1rem;
}
.pad-bottom {
    padding-bottom: 1rem;
}
.pad-left {
    padding-left: 1rem;
}
.pad-top {
    padding-top: 1rem;
}

.pad-right-12 {
    padding-right: 12px;
}

.pad-top-12 {
    padding-top: 12px;
}

.pad-left-12 {
    padding-left: 12px;
}

.pad-top-12 {
    padding-top: 12px;
}

.list-header {
    background-color: $gray-medium-dark !important;
    color: $color-white;
    div {
        background-color: $gray-medium-dark !important;
        color: $color-white;
    }
}

.list-stripped {
    color: $gunmetal-dark;
    &.odd {
        background-color: $gunmetal-xlight;
    }
    &.even {
        background-color: $white-color;
    }
    a {
        color: $gunmetal-dark;
        display: inline-block;
        width: 100%;
        padding: .25rem;
        padding-left: .5rem;
        &.odd {
            background-color: $gray-xlight;
        }
        &.even {
            background-color: $white-color;

        }
    }
}
