@mixin rounded($radius) {
    border-radius: $radius;
}

@mixin wide($width) {
    width: $width;
}

@mixin wideRem($width) {
    width: 1rem * $width;
}

@mixin borderSize($size, $where, $what, $when) {
    $size: 1rem * $size;
    @if $when != '' {
        $size: $size !important;
    }
    @if $where == 'top' {
        border-top: $size;
    }
    @else if $where == 'bottom' {
        border-bottom: $size;
    }
    @else if $where == 'left' {
        border-left: $size;
    }
    @else if $where == 'right' {
        border-right: $size;
    }
    @else if $where == 'tb' {
        border-top: $size;
        border-bottom: $size;
    }
    @else if $where == 'lr' {
        border-left: $size;
        border-right: $size;
    }
    @else {
        border: $size;
    }
    @if $what != '' {
        border-style: $what;
    }
}

@mixin marginSize($size, $where, $when) {
    $size: 1rem * $size;
    @if $when != '' {
        $size: $size !important;
    }
    @if $where == 'top' {
        margin-top: $size;
    }
    @else if $where == 'bottom' {
        margin-bottom: $size;
    }
    @else if $where == 'left' {
        margin-left: $size;
    }
    @else if $where == 'right' {
        margin-right: $size;
    }
    @else if $where == 'tb' {
        margin-top: $size;
        margin-bottom: $size;
    }
    @else if $where == 'lr' {
        margin-left: $size;
        margin-right: $size;
    }
    @else {
        margin: $size;
    }
}

@mixin paddingSize($size, $where, $when) {
    $size: 1rem * $size;
    @if $when != '' {
        $size: $size !important;
    }
    @if $where == 'top' {
        padding-top: $size;
    }
    @else if $where == 'bottom' {
        padding-bottom: $size;
    }
    @else if $where == 'left' {
        padding-left: $size;
    }
    @else if $where == 'right' {
        padding-right: $size;
    }
    @else if $where == 'tb' {
        padding-top: $size;
        padding-bottom: $size;
    }
    @else if $where == 'lr' {
        padding-left: $size;
        padding-right: $size;
    }
    @else {
        padding: $size;
    }
}

@mixin font_medium {
    font-weight: 500;
    font-style: normal;
}

@mixin font_bold {
    font-weight: 700;
    font-style: normal;
}

@mixin font_extra_bold {
    font-weight: 900;
    font-style: normal;
}

@mixin font_italic {
    font-weight: 400;
    font-style: italic;
}

@mixin font_medium_italic {
    font-weight: 500;
    font-style: italic;

}

@mixin font_bold_italic {
    font-weight: 700;
    font-style: italic;

}

@mixin font_extra_bold_italic {
    font-weight: 900;
    font-style: italic;

}

@mixin font_sc {
    font-weight: 500;
    font-style: normal;
    font-variant: small-caps;
}

@mixin font_sc_bold {
    font-weight: 700;
    font-style: normal;
    font-variant: small-caps;
}

@mixin font_sc_extra_bold {
    font-weight: 900;
    font-style: normal;
    font-variant: small-caps;
}

@mixin font_sc_italic {
    font-weight: 400;
    font-style: italic;
    font-variant: small-caps;
}

@mixin font_sc_bold_italic {
    font-weight: 700;
    font-style: italic;
    font-variant: small-caps;
}

@mixin font_sc_extra_bold_italic {
    font-weight: 900;
    font-style: italic;
    font-variant: small-caps;
}

@mixin clean_ul {
    list-style-type: none;
}

@mixin message_type($bkgd-color, $border-color, $body-color) {
    border: 3px solid $border-color;
    border-radius: $default-radius;
    background-color: $bkgd-color;
    color: $body-color;
    padding: .5rem 1rem;

    hr {
        border-top-color: darken($border-color, 5%);
    }
    .message-link {
        color: darken($body-color, 10%);
    }
    .icon {
        margin-right: 1rem;
    }
}

@mixin fancy_fieldset {
    border: 1px solid $color-border;
    border-radius: $default-radius;
    padding: .75rem;
    margin-bottom: .5rem;
}

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
    $src: null;

    $extmods: (
            eot: "?",
            svg: "#" + str-replace($name, " ", "_")
    );

    $formats: (
            otf: "opentype",
            ttf: "truetype"
    );

    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
    }

    @font-face {
        font-family: quote($name);
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}

@mixin linear-gradient($direction, $colors...) {
    @if is-direction($direction) == false {
        $colors: $direction, $colors;
        $direction: 180deg;
    }
    background: nth(nth($colors, 1), 1);
    background: linear-gradient($direction, $colors) no-repeat;
}

