/* menu bar */
.navbar {
    margin-top: 1rem;
    &.bg-gray {
        background-color: $gray80;
        background-image: linear-gradient(top, $gray80, $gray90);
        color: $color-black;
        a {
            &.nav-link {
                @include font_sc_bold;
                font-size: 1.25rem;
                color: $gray40;
                &.active {
                    color: $blue_medium;
                }
            }
        }
        a:hover {
            color: $color-black;
        }
    }
}

.manager-links {
    @include clean_ul;
    a {
        @include font_sc_extra_bold;
    }
    ul {
        @include clean_ul;
        padding-left: 2rem;
    }
}