/* menu bar */
.navbar {
    @include paddingSize(.25, 'tb', '');
    &.bg-gray {
        @include linearGradient(180deg, $gray90, $gray95);
        color: $color-black;
        a {
            &.nav-link {
                @include fontSmallCapsBold;
                font-size: 1.25rem;
                color: $gray40;
                &.active {
                    color: $blue_medium;
                }
            }
        }
        a:hover {
            color: $color-black;
        }
        li {
            &.show > .nav-link {
                color: $blue_medium-dark;
            }
            &.nav-item {
                a:hover {
                    color: $blue_medium-dark;
                }
            }
        }
    }
    &.no-margin {
        @include marginSizePx(-15, 'lr', 'important');
    }
}

.manager-links {
    @include listStyleNone;
    a {
        @include fontSmallCapsExtraBold;
    }
    ul {
        @include listStyleNone;
        padding-left: 2rem;
    }
}

span.no-link {
    position: relative;
    display: block;
    padding: $pagination-padding-y $pagination-padding-x;
    margin-left: -$pagination-border-width;
    line-height: $pagination-line-height;
    color: $green-medium;
    background-color: $pagination-bg;
    border: $pagination-border-width solid $pagination-border-color;
    &.no-link-sm {
        padding: $pagination-padding-y-sm $pagination-padding-x-sm;
        font-size: $font-size-sm;
        line-height: $line-height-sm;
    }
}
