$default-radius:         .25rem;
$default-h1:             1.75rem;
$default-body-font-size: 14px;
$default-sans:           'Lato', Verdana, Helvetica, sans-serif;
$default-serif:          'Merriweather', Georgia, 'Times New Roman', Times, serif;
$default-mono:           'VeraMono', Monoco, monospace;