<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}Example App{% endblock %}</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/assets/css/main.css'" type="text/css" media="all" />
	<link rel="shortcut icon" href="/assets/images/icons/favicon.ico" />
</head>
<body>
{% block body %}
    <div class="row">
        <div class="span12">
            <p>{{ body_text }}</p>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>
