/*! site/scss/colors Generic Group specific color */
@forward "../namespaces/Ritc/Library/resources/assets/scss/defaults/colors" as dc-*;
@forward "../namespaces/Ritc/Library/resources/assets/scss/colors/slate" as tc-*;
/* Note: if you want a different theme color that doesn't exist in the library
         colors directory, modify the group/_colors.scss file
         and change the forward for the library colors/slate as tc-* to this
         nsgroup color, i.e.
         @forward "group/colors" as tc-*;
         also submit a patch to the library for the new color file if so desired.
 */
